<div class="col-md-12">
  <div class="group">
    <%= link_to("添加招聘信息",new_job_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th> name </th>
        <th></th>
        <th> created_at</th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <% if job.is_hidden %>
          (Hidden)
          <% else %>
          (Public)
          <% end %>
          <td><%= link_to(job.title,admin_job_path(job)) %></td>
          <td>
            <%= link_to("Edit", edit_admin_job_path(job), class: "btn btn-sm btn-default") %>
            <%= link_to("Delete", admin_job_path(job), class: "btn btn-sm btn-default", method: :delete,
             data: {confirm: "sure?"} ) %>
            <td><%= job.created_at %></td>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
